.header {
    border-top: 1px solid black;
    padding: 5px 10%;
    font-family: Arial, Helvetica, sans-serif;
    height: 4em;
    margin: 0 25% 0 25%;
  }
  
  .header > button {
    float: left;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
  }
  
  .header > button:hover {
    background-color: #F1EFEF;
    cursor: pointer;
  }
  
  .header > button:active {
    transform: translateY(2px);
  }