.header {
  padding: 0% 10%;
  font-family: Arial, Helvetica, sans-serif;
  height: 7em;
  border-bottom: black solid .1px;
}

.header > a {
  float: left;
  margin: 1em 1em 0 1em;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

.donate {
  border: 1px black solid;
}