.header {
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 0% 10%;
  font-family: Arial, Helvetica, sans-serif;
  height: 6em;
  min-width: 100vw;
  background-color: white;
}

.header > a {
  float: left;
  margin: 1em 1em 0 1em;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.header > a:hover {
  background-color: #F1EFEF;
}

.header > a:active {
  transform: translateY(2px);
}

.donate {
  border: 1px solid black;
  position: absolute;
}