.active {
  border-bottom: 1px solid red;
}

.navbar {
  top: 2em;
  left: 25em;
  position: fixed;
}

.link {
  float: left;
  margin: 1em 1em 0 1em;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: #f1efef;
  cursor: pointer;
}

.link:active {
  transform: translateY(2px);
}

.swiper {
  margin-top: 7em;
  text-align: center;
  position: relative;
  z-index: 0;
}
